Using Pandas to analyse Covid 19 dataset

    questions
1. Show the number of confirmed, deaths and recovered cases in each region
2. In which region was the maximum number of confirmed cases recorded
3. In which region was the minimum number of Deaths recorded
4. How many confirmed, death and recovered cases were recorded for Pakistan till April 29, 2020
5.Remove all the records where confirmed cases are less than 10

In [1]:
#importing pandas
import pandas as pd

In [3]:
#reading the covid 19 csv file
df=pd.read_csv('covid_19_data.csv')

In [8]:
#displaying the first 5 rows if the data
df.head()

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423
4  4/29/2020   NaN       Angola         27       2          7

In [9]:
#displaying information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 321 entries, 0 to 320
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       321 non-null    object
 1   State      140 non-null    object
 2   Region     321 non-null    object
 3   Confirmed  321 non-null    int64
 4   Deaths     321 non-null    int64
 5   Recovered  321 non-null    int64
dtypes: int64(3), object(3)
memory usage: 15.2+ KB